.root {

    color: white;


}


div {
    
    
    border: solid black 3px;

}





.col-3 {

    height: 100vh;
    border: solid black 3px;
    margin-right: 30px;

}

.weather {

    height: 35vh;

}

#city {

    margin-bottom: 15px;

}

input {

    width: auto;

}

button {


    height: auto;
    width: auto;
    background-color: #191919;
    
}

#day-1,
#day-2, 
#day-3,
#day-4,
#day-5 {

    display: none;



}

.display-card {


    display:block;
    background-color: #191919;
    color: white;

}