.root {

    color: white;


}








.col-3 {

    height: 100vh;
   
    margin-right: 3rem;

}

.weather {

    height: 35vh;

}

#city {

    margin-bottom: 15px;

}

input {

    width: 100;

}

li {

    width: 100;
    

}

ul {

    list-style-type: none;
    width: 100;

}

.cityNameButton {

    width: 14rem;

}

button {

    margin-bottom: .5rem;
    width: 100;  
    
}


.card-container {

    border-top: black solid .3rem;

}

.card {

    width: 7rem;
    margin-top: 1rem;
    padding: .3rem;

}

input {

    margin-bottom: .5rem;

}

